$large: 1600px;

$medium: 1400px;

$small: 700px;

div {
    display: flex;
    flex-direction: column;
    

    .cardFilm {
        width: 43%;
        margin-right: 2%;
        height: 400px;
        position: relative;
        border: 2px solid white;
        margin-bottom: 20px;

        @media screen and (min-width: $small ) {
            & {
                width: 30%;
            }
        }
        @media screen and (min-width: $medium ) {
            & {
                width: 23%;
            }
        }
        @media screen and (min-width: $large ) {
            & {
                width: 18%;
            }
        }

        &:hover .imgProgramma {
            display: none;
        }

        .imgProgramma {
            width: 100%;
            object-fit: cover;
            object-position:  center;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            //:alt
            text-align: end;
            display: flex;
            align-items: end;
            line-height: 30px;
        }

        .textCard {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            text-align: start;
            overflow: scroll;
            margin-bottom: 35px;
            font-size: 15px;

            h2, h3 {
                font-size: 15px;
                margin-bottom: 10px;
            }

            .flag {
                width: 10%;
                margin-top: 10px;
            }
            
            .voto{
                display: inline;
                margin: 10px 0;

                .stelle {
                    color: yellow;
                    
                }
            }
        }
    }
}